[2014-11-21 18:10] ralf-cestusio opened #2 "Problem with minification"
I was wondering if it was just a problem i have or if you also experience it.

Using the component in a normal ember build works fine

If it is minified by ember build --environment-production a website complains with the error message
"google-map/initializers/google-map-component"

[2014-11-21 19:52] #2 closed, assigned to huafu

[2014-11-27 04:14] kriskhaira opened #3 "Passing model array to markers"
How would I pass a model array from my Ember Data store to the markers value?

For example, I have this code:

**controllers/trips/show.js**

[code]

**templates/trips/show.hbs**

[code]

If I'm showing the map on a trips/show template, how do I pass trip.locations to the markers value? A trip hasMany locations; and locations have the structure including lat and lng values like in the sample marke

[2014-11-27 04:40] #3 closed, assigned to huafu

[2014-12-02 14:13] davidpaulsson opened #5 "[feature request] google.maps.Polyline support"
Would it be hard to implement passing an array of long / lat to draw a polyline over the map? Like https://developers.google.com/maps/documentation/javascript/examples/polyline-simple

Thoughts?

[2014-12-04 11:10] mortenbo opened #6 "[feature request] google.maps.Circle support"
I'd like to request the option of placing circles on the map: https://developers.google.com/maps/documentation/javascript/examples/circle-simple

Thanks a great component!

[2014-12-10 11:29] #5 closed, assigned to huafu

[2014-12-10 23:16] #6 closed, assigned to huafu

[2014-12-18 08:23] mortenbo opened #8 "[enhancement] Load Google Maps SDK When Needed"
In your `index.js` file you load the Google Maps SDK instantly. I think it will be a great enhancement to only load the SDK when the component is needed to save bandwidth.

[2014-12-18 12:27] #8 closed, assigned to huafu

[2015-01-01 20:15] lionelrudaz opened #9 "Error: #collection: Could not find itemViewClass"
Hi,

First of all, thanks for your great work.

I tried to install your addon on my app, but I have the following error: #collection: Could not find itemViewClass

In a controller Availability, I set up the Google Maps attributes, I added the tag in the template, I don't know what can possibly be wrong.

I also noticed that you're using the deprecated form of each block. Do you plan to update?

La

[2015-01-02 00:44] huafu commented on #9
I didn't try yet with handlebars 2.0. Also what dd you mean by deprecated form or `each`? I meant where do I use a deprecated form of it?

Lemme know for the `each` and as soon as I have a bit of time I'll check with hb2.0. I'll try to do it in less than a week.

[2015-01-02 12:30] lionelrudaz commented on #9
About each deprecation error, I think that in your templates, instead of having this:

[code]
You should have this:

[code]

More info here: http://emberjs.com/guides/deprecations/#toc_more-consistent-handlebars-scope

I'm a newbie, so I'm not sure if this is correct.

Anyway, I don't know if the "#collection: Could not find itemViewClass" error is due to Handlebars 2.0.

Let me know if you need m

[2015-01-03 02:20] huafu commented on #9
Ok, you're right with the `each` but that's easy to fix and is not the issue here.

As I said, I've never tested my addon with Handlebars 2.0. I'll first change the `each` to be sure they are not using deprecated form, and then investigate on the hb 2.0 issue.

Can you gimme the full stack of the error please? Or is your project standalone and I can clone it and test it right away?

[2015-01-03 14:57] cpttripzz commented on #9
I am also having a similar problem:

Uncaught Error: Assertion Failed: You specified the itemView markerViewClass, but it was not found at undefined (and it was not registered in the container)

I am unable to import the MAP_TYPES as well with this:import {MAP_TYPES} from 'ember-google-map/components/google-map';

[2015-01-03 15:33] huafu commented on #9
@cpttripzz this is a different error, try to use a previous version of this addon, or upgrade your Ember to `1.8.1` (for the `Uncaught Error: Assertion Failed: You specified the itemView markerViewClass, but it was not found at undefined (and it was not registered in the container)`.

For the `MAP_TYPES`, I have to update the readme, if you choose to update the version of Ember, then you have to i

[2015-01-07 10:17] davidpaulsson commented on #5
awesome, thanks!

[2015-01-07 12:11] davidpaulsson commented on #9
I also get this issue `Uncaught Error: Assertion Failed: <xxxxxxx@component:google-map::ember344> #collection: Could not find itemViewClass` with
[code]

[2015-01-07 14:46] davidpaulsson commented on #9
Just confirmed that this doesn't work with the newest versions of Ember (1.9.1 and 2.0.0 of Handlebars). I cloned this repo, upgraded the project an get this error message
[code]

As well as the deprecation notice discussed above.

[2015-01-07 15:19] PDXIII opened #10 "ENOENT, no such file or directory"
Hi!

When I try to integrate your add-on via npm, I always receive the same error:

    File: huw-mcv/controllers/application.js
    ENOENT, no such file or directory '/Users/PATHTOPROJECT/HUW-MCV/tmp/tree_merger-tmp_dest_dir-rhkm4PNw.tmp/ember-google-map/components/google-map.js'
    Error: ENOENT, no such file or directory '/Users/PATHTOPROJECT/HUW-MCV/tmp/tree_merger-tmp_dest_dir-rhkm4PNw.tmp/e

[2015-01-08 07:56] huafu commented on #10
Ok I've fixed that in the README too, lemme know if you have anymore issue

[2015-01-08 07:56] #10 closed

[2015-01-08 08:00] huafu commented on #9
Ok thanks a lot, I'm going to upgrade and see what needs to be fixed

[2015-01-08 08:49] davidpaulsson commented on #9
@huafu awesome, looking forward to an update :) thank you for a great addon

[2015-01-08 09:02] huafu commented on #9
Ok, version `0.0.14` published, can you try it out?

[2015-01-08 09:02] huafu commented on #9
@davidpaulsson I fixed everything after upgrading to Ember 1.9.1 and handlebars 2.0.0, lemme know if everything works as expected ;-)

[2015-01-08 09:39] davidpaulsson commented on #9
@huafu it's working now! awesome, i think it's safe to close this issue

[2015-01-08 09:42] huafu commented on #9
Thanks!

[2015-01-08 09:42] #9 closed

[2015-01-08 10:03] lionelrudaz commented on #9
Thanks I will test that ASAP.

[2015-01-12 06:58] PDXIII commented on #10
That's great!

[2015-01-12 12:21] mortenbo opened #11 "[FEATURE] google.maps.Polygon support"
I'd like polygon support if possible: https://developers.google.com/maps/documentation/javascript/examples/polygon-simple

Thanks!

[2015-01-12 13:04] huafu commented on #11
until I'll implement it, you can always use a polyline which path starts and ends with the same point ;-)

[2015-01-12 14:29] mortenbo commented on #11
Yeah, true, but I won't be able to style the polygon with a background color etc.

Do you have an estimate on when this feature might be implemented?

[2015-01-12 21:35] Tuhaj opened #12 "gopt documentation"
can you please explain how to use gopt_ on an example?

https://github.com/huafu/ember-google-map/blob/7d5b1cbb709159d05f7873e53493c01248137216/app/components/google-map.js#L54

[2015-01-12 23:13] huafu commented on #12
As explained at the end of [this](https://github.com/huafu/ember-google-map#what-is-implemented-for-now) section of the README, you just prepend the google option with `gopt_`. For `backgroundColor` for example:

[code]

[2015-01-12 23:13] #12 closed

[2015-01-13 00:46] huafu commented on #11
no estimate sorry, could be tomorrow as in 2 weeks, I am not paid for this so I have to find some free time to do it ;-)

[2015-01-13 07:10] mortenbo commented on #11
Totally fine. Thanks :-)

[2015-01-13 11:16] PDXIII commented on #10
The map works fine now, but the syntax for Ember.select has changed in the last update. And maybe you need to tell people, that they need to give ´´´.map-canvas```some height.

    .map-canvas {
      position: relative;
      height: 100%;
      width: 100%;
    }

But non the less: this is a great add-on. And when I am allowed to vote for an feature: Styles.
Maybe, when this all starts to make s

[2015-01-26 14:21] davidpaulsson opened #13 "Problem with polyline"
Hey, I wonder if someone could see what I'm doing wrong here.

Here's my hbs
[code]
And that connects with my model definition `/models/polyline.js`:
[code]
Aaaand the data that the `polyline` endpoint returns is this:
[code]

As you see I have the same data as in the example, for testing. The markers gets displayed correctly, but the polyline don't show up.

Here's what the debug messages say:

[

[2015-01-26 20:20] mgenev opened #14 "ember 2.0 compliant?"
Hi,
I spent this weekend trying to make the google map in an ember app and found so many problems with that, I'm seeing that you have done a lot of work solving these problems in your plugin's 'core' folder which is great so I want to try it, but I also see that you are using a lot of controllers and some views which are getting removed in ember 2.0

Do you plan to change this plugin to use only c

[2015-01-27 07:21] huafu commented on #14
As answered on gitter directly to you, I am waiting for ember 2.0 decisions are totally made and first version comes up. But yeah I will upgrade this plugin to make it continue working.

--
Huafu Gandon
Head of Tech, Sovolve, LLC
Skype: pedroleouf
www.sovolve.com
Social Evolution, Accelerated

Try Panomira.
You'll never look at yourself the same way again.

[2015-01-28 00:37] huafu commented on #13
Try to avoid linking the `lat` and `lng` of the map to the `firstObject`, remember that bindings are 2 way, and when you are going to move the map it'll update those, so it'll mess everything up.
Create first a copy of that for example in your controller:
[code]
Then in your template:
[code]

[2015-01-28 00:38] #13 closed

[2015-01-28 00:38] huafu commented on #14
I am closing this issue, will reopen once we have a stable ember 2.0 if the addon is not working anymore

[2015-01-28 00:38] #14 closed

[2015-01-28 03:04] #11 closed

[2015-01-28 03:05] huafu commented on #11
@mortenbo here you go! ;-)

[2015-01-28 07:17] mortenbo commented on #11
Oh yeah! Thanks :-)

[2015-01-28 12:03] davidpaulsson commented on #13
Good point, but even if I hardcode the values of lng/lat the polylines doesn't show up

[2015-01-28 20:51] huafu commented on #13
Oh I know haha! `polylines` should be an array of objects with a `path` property. So in your case you need to define in the controller where the model is your poly line record:

[code]

And then in the template: `{{google-map ... polylines=polylinesArray}}`.

You have a path instead of an array of objects withy the path property. The goal of polylines is to be able to draw more than one polyline,

[2015-01-29 20:08] sbsurf opened #15 "How to access map object"
Hi,

I'm refactoring my code, which was using the google api directly, to use your component.

I'd like to do something like this on page load:

    map.fitBounds(bounds);

But I'm not sure how to grab the map object. In my code it was created using:

    var map = new google.maps.Map(this.$('#listings-map')[0])

[2015-01-30 11:32] huafu commented on #15
You can add `{{google-map ... googleObject=view.map}}` then in the corresponding view you define this property `map` to null and add a hook on `didInsertElelement`:

[code]

[2015-01-30 11:33] #15 closed

[2015-01-31 03:14] sbsurf commented on #3
I see you filed this as a bug. I wonder if you ever resolved it.

I, too, am having the issue:

    Uncaught TypeError: Cannot read property 'lat' of undefined

I also have a model returned asynchronously, via an Ember.RSVP.hash. I think that's probably the issue. All of my markers have the required properties, and actually get debug-logged to the console by the mapping component. But the map does

[2015-01-31 07:36] huafu commented on #3
Are you sure of using the latest version of this plugin? Can you provide the source of your route, component, controller and template where all this is happening?

[2015-02-01 17:21] sbsurf commented on #15
Thanks.

Do you think it's possible to do from the controller? I'd prefer not to use a view just for this.

[2015-02-01 17:33] sbsurf commented on #3
Thanks for the reply.

The error was actually being caused in a couple different places. Every time I'd change it one place, it would still get thrown in another, obfuscating the problem.

One of the reasons it was being thrown, was because I had set up the component in my template, specifying:

     zoom=zoom

while not setting the **zoom** property until later. Maybe it would be better to follow

[2015-02-01 23:15] huafu commented on #15
Well it might be possible but this should be in a view and not a controller. While your controller can have a property computing the best value for use with `fitBounds`, it is the view which should call it since it depends on the render process.

Also your controller might be initialized and bound values changing while not even in the DOM and you can know this only from the view.

[2015-02-01 23:24] huafu commented on #15
Oh also the `didInsertElement` hook is only for views of course.

Anyway when I'll have time I'm going to add 2 other options on the `google-map` at tributes list being `auto-fit-bounds`, array of either:
- `string` to point to a type of items rendered (markers, polylines, ...)
- `{lat, lng}` to make the point in the bounds
... or even just `all` or `true` to fit bounds for all objects on the map.

[2015-02-02 02:30] huafu commented on #15
@sbsurf I just released `0.0.17` which is handling `autoFitBound` map option, so you don't even need to take care of it anymore, it'll fit the bounds to all objects in the map upon load when you sepcify `{{google-map ... autoFitBounds=true}}`

[2015-02-02 03:50] sbsurf commented on #15
Very cool! Let me test it out tomorrow. Thanks!

[2015-02-02 14:45] sbsurf commented on #15
It works. Fantastic! My code is getting shorter and shorter.

You know what else would be useful: being able to set a max zoom. I currently use it when there's one marker (or more than one but they are all very close to each other). My code:

      map.fitBounds(bounds);
      // Zoom out if too close:
      if (map.getZoom() > 16) {
        map.setZoom(16);
      }

So maybe add a **maxZoom** pro

[2015-02-02 19:01] huafu commented on #15
Well this is very specific but I agree user might want to apply a max zoom with the auto fit bounds. In that case I might more setup it like `fitBoundsMaxZoom`. Will think about it thanks.

[2015-02-03 11:53] shopapps opened #16 "markerViewClass must be a subclass or an instance of Ember.View"
Hi,

I could be misunderstanding the implementation, however  I am getting an error in ember-cli  of:

**Uncaught Error: Assertion Failed: markerViewClass must be a subclass or an instance of Ember.View, not ember.js:**

when trying to run this module, here's what I have done:

     npm install --save-dev ember-google-map

.. OK

in my-app/config/environment.js i have an entry of:

    ENV.googleM

[2015-02-03 12:22] huafu commented on #16
Please be sure to understand ember router and controllers. You are not providing any model for your controller and the properties to be used in your controller are defined in your route. Look at the example on GitHub pages and read ember guides they are very good to understand the routing/controllers/etc hierarchy of emberjs ;-)

[2015-02-03 12:23] #16 closed

[2015-02-03 14:05] shopapps commented on #16
ok thanks, It's true I am very new to ember-cli and have just finished working through the ember-cli-101 guide.  But I still couldn't get your module to work, so am building my own component. In the meantime please be aware I am not the only one seeing this issue: http://stackoverflow.com/questions/28024785/ember-google-map-in-ember-cli-markerviewclass-must-be-a-subclass-error

all the best,

Paul

[2015-02-03 15:18] huafu commented on #16
There wasn't undefmeansing in my message, I'll be happy to help if I can but first your route need to return a model then you template needs to use this model correctly with the component. The link you provided might be old I am on my mobile and I might miss the date. There was some error on the first versions.

Now if you still have the sme problem after you fixed your controller route and templa

[2015-02-03 15:20] huafu commented on #16
And I hope you get my mobile typing mistakes hehe

[2015-02-03 15:55] shopapps commented on #16
hehe.

the date on that link was about 15 days ago i think, but looking at it it seems you have posted against it so perhaps whoever it is will give you further info in their case.

In my case the controller for that particular pod extends a base controller (in that pod) and the model is actually collected from Ember DS in the parent route.js not the controller.js ( i didn't realise model definiti

[2015-02-04 07:13] jmejias opened #17 "Following example not working"
Hi, im trying to follow your docs for the basic example and it doesnt seem to be working

This is my WIP: https://github.com/jmejias/google_maps_example

If you could point out the issue I appreciate it.

Thanks

[2015-02-04 19:26] huafu commented on #16
So you should have your router like this:
[code]

then you do no need to generate any route, thanks to Ember Data, the `site` route will load the `site` model with `id` `:site_id` and will set it on the controller. If a route does not have a model it'll use the model of its parent route by default. So the `site.show`, `site.edit` and `site.delete` controllers will have the same model as the `site`

[2015-02-04 19:30] huafu commented on #17
What is the error? Also I see you provided a Google API key, if so, you need to run it on the server with the same origin that the one you defined when creating the API key ;-).

You also set `autoFitBound` but you do not have any data (markers, infoWindows, ...) to show on the map so I don't see the point of setting that ;-)

[2015-02-04 19:31] #17 closed

[2015-02-04 22:34] FutoRicky opened #18 "Error cannot read property 'lat' of undefined"
Im getting this error and I have lat defined in the controller as well as lng, zoom, and type.

This is the line of code im getting the error on the helper.js line 210

```      return helpers.makeObj(latKey || 'lat', val.lat(), lngKey || 'lng', val.lng()); ```

this are the errors:

```Uncaught TypeError: Cannot read property 'lat' of undefined```
and
``` Uncaught TypeError: Cannot set property '

[2015-02-04 22:36] huafu commented on #18
can you gimme the code of your template please whit the line corresponding to where you use the `google-map` component.

[2015-02-04 22:38] FutoRicky commented on #18
This is the div where I use the ```google-map``` component:

[code]

[2015-02-04 22:40] huafu commented on #18
Hmmm... I might also need to see what/how you defined to the `lat`, `lng`, `zoom` and `type` properties on your controller sorry ;-)

[2015-02-04 22:41] FutoRicky commented on #18
[code]

[2015-02-04 22:42] huafu commented on #18
Weird, I am going to create a small little ap to check but that should work lol. Also what version of EmberJS and Handlebars are you using?

[2015-02-04 22:55] huafu commented on #16
Ok there is actually this issue if you are using EmberJS < `1.9`, please upgrade to `1.9` using Handlebars `2.0` (see Ember website on how to upgrade).

[2015-02-04 23:18] mattisalokangas opened #19 "ERROR: markerViewClass must be a subclass or an instance of Ember.View, not"
I am running into an issue with the latest version from master.  I've provided the error, my code and versions below.  I have a fork that I just updated from the latest on your master branch.  I'm currently trying to hunt down why this is happening but thought you may get to it sooner.  If I figure it out I'll send you a PR, otherwise hopefully you get this and know what is up.

Let me know what e

[2015-02-04 23:19] mattisalokangas commented on #19
Just saw this is a duplicate.  Sorry about that!

[2015-02-04 23:19] #19 closed

[2015-02-04 23:19] huafu commented on #19
The latest version require Ember `>= 1.9`

[2015-02-04 23:20] huafu commented on #19
ha, you were faster ;-)

[2015-02-05 00:07] huafu commented on #18
I have just tested with a bare new Ember application, updated to Ember 1.9.1 and Handlebars 2.0.0 (as required by the latest version of my addon), installed my addon, and everything is working :-/

[2015-02-05 00:07] #18 closed

[2015-02-05 01:16] FutoRicky commented on #18
Then what might it be? I have ember and handlebars at the required versions.

[2015-02-05 01:17] huafu commented on #18
Well the only way I can help you is you share your repository and I can give a try at finding out what it is ;-)

[2015-02-05 09:09] shopapps commented on #16
Hi,

Thanks for the tip, It’s good to know little tricks like that.

Regards,

Paul

From: Huafu Gandon [mailto:notifications@github.com]
Sent: 04 February 2015 19:26
To: huafu/ember-google-map
Cc: Paul
Subject: Re: [ember-google-map] markerViewClass must be a subclass or an instance of Ember.View (#16)

So you should have your router like this:

Router.map(function() {
  //...
  this.route('site'

[2015-02-05 09:12] shopapps commented on #16
That would explain a lot.

Ember-cli is currently at ver 0.1.12 which contains:

DEBUG: -------------------------------

DEBUG: Ember          : 1.8.1

DEBUG: Ember Data : 1.0.0-beta.12

DEBUG: Handlebars : 1.3.0

DEBUG: jQuery         : 1.11.2

DEBUG: -------------------------------

My understanding is that they are working towards a new release that supports the new ember and handlebars.  For n

[2015-02-05 09:59] huafu commented on #16
You don't have to wait for it, just go in the README of my plugin, on the top of the file there are two links, one is about a section with a link to a ember help page where it explain the 2 or 3 commands you have to run to upgrade your version of ember and handlebars, all supported by ember-cli. Those versions you see are just the ones installed by  default when you create a new ember app.

--
Hua

[2015-02-05 20:55] FutoRicky commented on #18
@huafu Thanks for your help, I'm still running into the same issue. Here's a link the repo:
https://github.com/FutoRicky/ember-google-maps-sample

[2015-02-06 02:49] sbsurf commented on #15
**fitBoundsArray** doesn't seem to work as I would expect. Seems like you only allow the bounds array to be arrays used by other controller properties (e.g.: markers, circles, etc.). Wouldn't it make sense to allow any array define the bounds?

For example, I am creating a different type of map now. No markers, no nothing. But I still want the map bounds to be set based on an array of coordinate o

[2015-02-06 04:58] sbsurf opened #22 "Support for libraries?"
Any plans to add library support? For example, to include the 'drawing' library, the script tag would be:

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing"></script>

[2015-02-06 05:17] sbsurf commented on #22
I made the necessary change. If you give me access, I can create a PR.

[2015-02-06 05:28] sbsurf commented on #22
Created a PR for this to save you time.

[2015-02-06 07:32] davidpaulsson opened #24 "Google Maps API for Work"
Therefore `ENV.googleMap = { key: 'AbCDeFgHiJkLmNoPqRsTuVwXyZ' };` won't work.

So how can I use my Google Maps API for Work Client ID using this addon as [specified here](https://developers.google.com/maps/documentation/business/clientside/#client_id)?

[2015-02-06 07:41] huafu commented on #24
Will implement this now ;-) Thanks for reporting.

[2015-02-06 07:55] #22 closed

[2015-02-06 07:58] huafu commented on #24
Handled in `0.0.18`, remove the `key` and set `clientId` instead.

[2015-02-06 07:58] #24 closed

[2015-02-06 08:05] huafu commented on #15
Yes, `autoFitBounds` is for only the stuff existing in the map. If you want to specify your own array, look at the option in the readme, it's called `fitBoundsArray` ;-)

[2015-02-06 08:06] huafu commented on #18
K, taking a look now

[2015-02-06 08:16] huafu commented on #18
Ok, I took a look, I just removed the API key as I don't know what is the hostname you are testing with, and I added a css file: `app/styles/app.css` with this:

[code]

because google map as they say in their documentation you need to specify the dimensions of the map canvas div.

And everything work, I have no error... sorry

[2015-02-06 09:33] davidpaulsson commented on #24
Awesome!

[2015-02-06 14:24] FutoRicky commented on #18
That was it, the css. Thanks, it's working fine.

[2015-02-06 14:24] sbsurf commented on #15
I was actually talking about **fitBoundsArray**. I guess I'm not using it correctly. Seemed not to set the bounds based on a random property. I will take another look. Thanks!

[2015-02-06 16:08] sbsurf commented on #15
OK, it works. I was getting confused by the map debug statement which shows zoom, center info not in line with what the map actually shows after the bounds fitting.

Maybe add a debug statement once the map is re-positioned?

[2015-02-06 19:16] huafu commented on #18
Hmm, I had no error before I did the CSS too as soon as I saw a 0x0 sized map. Anyway, I need to put that in the readme, there was another issue at the beginning with the same case

[2015-02-06 19:21] huafu opened #25 "[DOC] Provide a better doc than the actual messy README"
The `README` is pretty much complete, but it's messy. I'd love to have the demo being on the index route, but with Twitter bootstrap theme for example and a menu showing help too, in which there would be a complete, readable documentation with TOC.

I can totally do the coding and integration of bootstrap, but I am not a native English speaker and I am very bad documentation writer when it's about

[2015-02-06 19:27] huafu commented on #15
Well actually I might remove soon all those debug lines. I know ember-cli removes them when building for prod, but it is kinda annoying to see this when you are looking for something in the console.

[2015-02-06 19:46] sbsurf commented on #15
I like them. Maybe not for every single event, but for major events. I think having a logging level setting would be nice, so you can turn them on or off.

[2015-02-06 21:02] davidpaulsson commented on #25
Sure I'd like to help. English isn't my official language either, but I think we could come up with something :)

I'm a designer/front-end guy who don't have much love for bootstrap (everything looks the same), let's build something custom for this superb addon. And the project needs a logo :)

[2015-02-07 02:59] huafu commented on #25
Wow that will be nice if you could help on that. I am actually creating a page for myself with bootstrap (yeah no time for design and I am a shit designer) where I'll link and explain briefly all my addons and work.

But if you help on this it'll be great to do in the `test/dummy` folder as a part of the demo app and so repo (I'll add it to the `.npmignore` if not yet there.

If you want to start,

[2015-02-07 03:00] huafu commented on #25
I am a shit designer = I am not designer and anytime I try to design something it looks old and ugly lol

[2015-02-07 08:02] davidpaulsson commented on #25
Hehe, how about I start with some wire frames and we can take it from there? I have little new born at home, but I'll try to make some time this weekend.

[2015-02-07 08:38] davidpaulsson commented on #25
This is just an example, and it'll probably look nothing like this. But it's in this direction you'd like to take it, right? A compete "website" describing the plugin? Yes?
http://www.listjs.com/

[2015-02-07 21:32] huafu commented on #25
yeah kinda, but it doesn't have to be too big, for now just intro, demo and short doc page.

(Don't worry mine is 5 months old here so I know what you mean about the time)

[2015-02-08 19:45] karellm opened #26 "Does not work without 'unsafe-eval' in your CSP?"
Is there a way to silent CSP warnings?

`Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self' maps.googleapis.com maps.gstatic.com".`

EDIT: I know that adding `unsafe-eval` fixes the issue. The point of my question is not to do it. Thanks!

[2015-02-08 19:49] davidpaulsson commented on #25
Hey again, so here's a very quick mockup/wireframe describing what I'm thinking. It's intentionally very Ember-ish with the colors and the Tomster etc.

I have no thought on the actual content of these two images, just the general layout and "feel" and then probably the design will grow as the documentation gets written. Thoughts?

![ember-google-map__home](https://cloud.githubusercontent.com/asse

[2015-02-08 22:07] huafu commented on #26
I don't think I am using any `eval`, at least for this addon. But Google might and then you'd have o ask them ;-)

Reopen this issue pointing me to any eval in case I was wrong and forgot I used some.

[2015-02-08 22:07] #26 closed

[2015-02-08 22:11] huafu commented on #25
You rocks! One thing I am unsure is "are we allowed to copy ember website design"?
I'll send an email to Lea about that, she is responsible of that stuff at Ember. And yeah I agree that if we can, let's stick to their design!

[2015-02-08 22:43] karellm commented on #26
I know it is not your fault, I was simply wondering if you knew a workaround. Thanks!

[2015-02-09 02:41] huafu commented on #26
Oh ok ;-) well no I don't know a workaround sorry.

[2015-02-09 05:00] davidpaulsson commented on #25
Hehe, thx…

I think the biggest issue is if one can use the tomster like that :) it's definitely questionable. But I figured it's quite obvious that it's giving the proper attribution to the original Ember project.

As for the design it's just the colors that's the same, so that shouldn't be an issue.

I can do a quick test where it feels more Google Maps than Ember though?

Either way I think the

[2015-02-09 21:05] huafu commented on #25
If it's quick test, yes, but I'd prefer half ember half google if that is possible. Tho this looks nice.

Btw, i added an `icon.png` on the root of the repo, feel free to update it, it is used on my newly done website http://huafu.github.io ;-)

[2015-02-10 19:36] sbsurf opened #27 "Instructions for setting Polygon event handlers"
Hi,

The documentation is lacking on this subject. I tried figuring it out using your Markers example, but still having trouble getting it to work.

Can you please provide an example of how to get the polygons on the map to handle the _dragend_ event, for example?

[2015-02-10 21:48] huafu commented on #27
Yes I know about the documentation, I need to create a bigger and more detailed documentation.

I am going to answer better later, now on my phone so I can't write too much.

Since it's Ember, it all depends what you want to handle on dragend, but you should better just observe the lat/lng of an item of the polygon path, the ember way. They're updated when the user moves it, as any other stuff on

[2015-02-10 21:56] sbsurf commented on #27
So here's a quick example of the _polygons_ property returning one polygon. Maybe you can point me in the right direction, or tell me how to observe the path properly. What I've tried so far hasn't worked:

[code]

[2015-02-10 23:35] MrJadaml commented on #25
Any documentation for initial CLI implementation would be greatly appreciated.

[2015-02-11 00:29] huafu commented on #27
First you should not define the `googleEvents` property at all.

Then if you need to handle the change of a path entry on a polygon, you probably should define the polygonsController to a controller of yours extending `google-map/polygons` controller. Then you can observe the path with `function(){}.observes('path.@each{lat,lng}')` from that controller.

[2015-02-12 01:15] sbsurf commented on #27
Thanks. And what's the proper way to handle an even such as click or right-click?

[2015-02-12 01:36] sbsurf commented on #27
By the way, the approach you recommended for handling the _dragend_ event doesn't seem to be working. I get:

[code]
 My code:

Template:
[code]

Item Controller:
[code]

Map Controller:
[code]

[2015-02-12 17:58] ohizkiya commented on #25
If you guys come up with an initial cut of the documentation, I would be glad to look it over and ensure it reads well.

[2015-02-12 18:34] sbsurf commented on #25
I can fill in some blanks eventually, as well. Once I get all my issues resolved and feel comfortable using all the features I need. Plus my current gig is up at the end of this week, so I should have some extra time.

[2015-02-12 21:16] wifelette commented on #25
Heya friends—

While it looks nice, this is unfortunately _exactly_ the sort of thing the Trademark and rules expressly prohibit :/

As a passing user if I saw a site like this I would definitely assume this was an official Ember owned and maintained project.

The trick is to design something that looks like it _fits_ well with the Ember look and feel, but that is clearly something else. Both the

[2015-02-13 00:56] huafu commented on #27
The `polygonController=polygon` in your handlebars template when calling the component is wrong. It should be a static string else it'll try to grab the controller name on that property of your current controller.

Also I noticed you wrote `import baseController from 'ember-google-map/controllers/polygon';`. It is not an error and you might know it but it sounds like you think it is not a class du

[2015-02-13 01:04] huafu commented on #25
@wifelette yeah I was worried about that, so thanks for the clarification. I'd anyway get you preview it once we have a first version before deploying.

Other than that, I am preparing, but slowly, a list of things that MUST be explained well, as well as some small examples for each issue. Reading the list of all issues helps finding out what are the things to put together. Unfortunately, as I sai

[2015-02-13 08:07] davidpaulsson commented on #25
ok! then it's cleared up and will be modified.

[2015-02-13 22:45] sbsurf commented on #27
Thanks. I got the click to get wired up. And I'm able to delete a polygon using _destroyGooglePolyline()_.

I haven't tried the path observer, yet, but I'm sure that will also work.

Another question:

If I add a new polygon using the Draw tool, would the component automatically detect it and add it to the polygons collection? Same goes for the deletion of newly-added polygon. Would that get wired

[2015-02-13 22:49] huafu commented on #27
What is `destroyGooglePolyline`?

No I cannot detect that you created a new polygon/polyline/circle/whatever. If you point me on google map lib if and where I can detect that, then create a new issue as feature request and point me out to that in the lib, I'll try to find some time to add an options such as `autoDetectNewGoogleObjects` or such...

[2015-02-13 22:49] #27 closed

[2015-02-13 22:54] sbsurf commented on #27
Is this the type of stuff you're talking about:

[code]

If so, I can create a new issue.

[2015-02-13 22:57] huafu commented on #27
what is the drawing manager?

[2015-02-13 22:58] huafu commented on #27
Sounds like yes, but it is not a feature I am going to add in the very near future, I am very busy now and it does not look like an easy to implement stuff...

[2015-02-13 22:59] sbsurf commented on #27
FYI: https://developers.google.com/maps/documentation/javascript/drawinglayer

This was the reason I had requested an ability to add libraries.

Well, whenever you are able to look into it, keep us posted. I can create an issue to keep track of any progress.

Thanks again! I appreciate your help.

[2015-02-13 23:01] huafu commented on #27
Please create an issue with this link as well, prepend it with `[FEATURE]`

[2015-02-13 23:04] sbsurf opened #28 "[FEATURE] Add Drawing Layer support"
It would be nice if newly-drawn shapes were bound to ember-google-map, so that they are automatically kept track of.

https://developers.google.com/maps/documentation/javascript/drawinglayer

Useful events:
[code]

[2015-02-13 23:07] huafu opened #29 "[MISC] Add some basic unit tests for the core objects"

[2015-02-15 19:28] huafu commented on #25
I think we should begin by creating some simple wiki pages here ;-)

[2015-02-15 20:23] huafu commented on #25
Here we go for an index, what is missing or should be changed?

[2015-02-16 03:11] huafu commented on #25
I strongly updated the wiki, missing only the example and about sections there, so we have our content, and we could use the github API coupled with my `ember-marked` component on the future website to use the wiki directly as our content.

As soon as I'll be done with the remaining wiki pages, I'll close this issue. While we can continue to discuss about the site here, I prefer to have it closed

[2015-02-16 03:12] huafu commented on #27
@sbsurf FYI I've created more robust docs on the [wiki](https://github.com/huafu/ember-google-map/wiki)

[2015-02-16 08:46] huafu commented on #12
FYI @Tuhaj I've now created a full documentation available [there](https://github.com/huafu/ember-google-map/wiki). You can find the stuff related to google options in the API section

[2015-02-16 09:05] #25 closed

[2015-02-16 22:55] ohizkiya commented on #25
I just finished going through every page of the wiki that exists thus far and editing for clarity / readability.

There are remaining questions and comments that I have -- but I'll post those when I have more time.

[2015-02-16 23:25] huafu commented on #25
Cool thank you very much!

[2015-02-17 01:51] ohizkiya commented on #25
Here are a few question I had. I think we can use the answers to these to make the documentation clearer.

1) The installation guide states: "You can also find instructions on how to install Handlebars 2 here, if required." Under what scenarios would Handlebars 2 be required? Should we make a note of these?

2) The Lazy Loading section states: "If you are using lazy-loading then you'll need to loa

[2015-02-17 02:09] huafu commented on #25
First of all, I reviewed all your changes, thanks A LOT (added a special thanks in the [About](https://github.com/huafu/ember-google-map/wiki/About) section)

When you update a title (prepended with any number of `#`), please be sure to then update the links in other pages referencing it (for example I've fixed the TOC and Home pages for `Main {{google-map}} component` which has been renamed to `T

[2015-02-17 12:05] ohizkiya commented on #25
In the future I'll be sure to update the links when changing a title.

I went ahead and placed placed notes/clarifications in the appropriate places based on your comments above.

Also, do you think we should update the description of the addon in NPM so that it's clear wiki is a link and to at least give an executive summary?

[2015-02-17 12:14] ohizkiya opened #30 "[FEATURE] Add google-address component"
I would like to work on adding support for a text-box that captures a particular location and supports auto-complete.

As per the original `readME`, the functionality would be as follows:
`{{google-address
      value=theText
      resolvedGoogleData=thePropertyToStoreGoogleData
      resolvedLat=thePropertyWhereToStoreAddressLatitude
     resolvedLng=thePropertyWhereToStoreAddressLongitude
     b

[2015-02-17 13:08] ohizkiya opened #31 "[MISC] Add Content Security Policy"
We should provide an example of setting the appropriate content security policy in `environment.js` to avoid any warnings in the console so that other developers don't have to track down and resolve the security violations.

[2015-02-17 13:38] huafu commented on #30
I believe we should use the one google is providing and emberize it. I started a bit of work on that but too long time ago and don't even remember the date, you might see it commented in the code or maybe more in the logs. But yeah, google has an auto-complete already, so you could use that. Else you could also use the geo google service but that means you'd have to implement auto-complete, or nee

[2015-02-17 13:41] huafu commented on #25
That would be a great idea. Anyway, the  short desc in npm comes with packages.json, in the `description`, and the long description is just the readme, so PR if you have time, I have too many projects and addons to handle lol

[2015-02-18 10:23] Tuhaj commented on #12
Thanks a lot @huafu

[2015-02-19 23:00] FutoRicky opened #32 "gopt_streetViewControl is not working"
Should I be doing something else apart from adding the option when I call the map component?

[code]
Do I have to add gopt_streetViewControlOptions?

[2015-02-19 23:21] huafu commented on #32
I guess there might be an additional library to load, or maybe some other options. What do they say in google documentation?

[2015-02-20 18:18] FutoRicky commented on #32
https://developers.google.com/maps/documentation/javascript/streetview#StreetViewMapUsage

[2015-02-22 17:45] Tuhaj commented on #12
Hey @huafu, in my simple app I'm using this:
{{ google-map lat=lat lng=lng type=type zoom=zoom markers=markers gopt_disableDefaultUI=true }}
And I still get the google DefaultUI. Do you know what can be wrong?

[2015-02-22 19:42] Tuhaj commented on #12
Nevermind. :-) I reinstalled and It's ok, I had old version of your addon.

[2015-02-26 08:26] Tuhaj opened #33 "how to refresh the map?"
Is there a way provided by ember-google-map?

[2015-02-26 08:26] huafu commented on #33
What do you mean by refreshing the map? You should never need to refresh it.

[2015-02-26 09:37] Tuhaj commented on #33
So maybe it is a different problem...
In my .hbs i have:

``` {{ google-map lat=lat lng=lng type=type zoom=zoom markers=markers gopt_disableDefaultUI=true }} ```
I changed the lat and lng of the map, and the map stays at the same point. On a change like this I want to move it to a new possition.

[2015-02-26 09:45] huafu commented on #33
How you change the `lat` and `lng`? Did you try to follow the example in the [wiki](https://github.com/huafu/ember-google-map/wiki)?

Normally looking at your template you have defined `lat`, `lng`, `type`, `zoom`, `markers` in your controller. To move the map, you in fact want to change `lat` and `lng` property of your controller to the coordinates of the new center. So doing `this.setProperties(

[2015-02-26 10:19] Tuhaj commented on #33
Great! Thanks to you I found the bug :)

[2015-02-26 10:20] #33 closed

[2015-03-02 07:32] huafu commented on #32
I am sorry I still did not get time to look into that yet

[2015-03-02 07:52] gopkumargopi opened #34 "Google Styled Maps Support"
Does the ember-google-map add-on have support for Google Styled Maps? Google's API that controls the map styles. https://developers.google.com/maps/documentation/javascript/styling

[2015-03-02 19:11] FutoRicky commented on #32
I made a simple street view component, check it out and see if it helps adding that functionality to your addon. I didn't know how to add it myself. Would be a lot better to have it in the same addon instead of 2 separate ones.
https://github.com/cometaworks/ember-cli-google-street-view

[2015-03-02 20:57] huafu commented on #34
I believe (but didn't test) that you can define this style array object in a property of your view (I think it's better to leave this in the view than in the controller), let's say `mapStyles`. Then use this property when calling the component from your template:

[code]

Lemme know if this does not work (and re-open the issue then).

[2015-03-02 20:57] #34 closed

[2015-03-02 21:24] huafu commented on #34
FYI I added a [wiki](https://github.com/huafu/ember-google-map/wiki/Provided-Tools-and-Classes-%28API%29#styling) section for the styling.

[2015-03-02 21:29] huafu commented on #32
Well without adding anything to the options, the street view controls are by default enabled, as you can see on the example [here](http://huafu.github.io/ember-google-map/). I'll upgrade my component so that it's simpler to setup street view options, but by default the street view controls **ARE** there.

[2015-03-02 21:33] FutoRicky commented on #32
You're right, and I did know that it was working. But what I was trying to achieve was displaying street view directly without having to actually drop the street view icon on the map.

[2015-03-02 21:35] huafu commented on #32
Ah that's something else. Then it needs some option to enable or not the street view mode, and some of the options for the `google.maps.StreetViewPanorama` constructor.

[2015-03-06 02:01] shennyg commented on #31
The following security policy will stop the warnings:

[code]

[2015-03-06 06:01] huafu commented on #31
thanks @shennyg I have already the list, but this needs to be done in the doc so that any user can add it itself with their specificities. For example on an https version all URLs would be using `https` protocol instead of `http`, so it'd be better to remove all the protocol in the URLs. But one would like to run this locally or say in cordova for example (not sure that it'd work in the latest) an

[2015-03-08 04:12] huafu commented on #32
@FutoRicky I am closing this issue, will reopen another one more accurate because `gopt_streetViewControl` actually does work.

[2015-03-08 04:12] #32 closed

[2015-03-08 04:13] huafu opened #35 "[FEAT] `{{street-view}}` component"
As @FutoRicky meant by #32, make a street-view component working with the map or as a standalone component.

[2015-03-08 04:19] huafu commented on #35
Those willing to test, I've made quite some progress and you can actually use the feature by installing this addon at branch `feature/street-view` [here](https://github.com/huafu/ember-google-map/tree/feature/street-view)

I need some testers and some help as I am very busy those times. Also @ohizkiya would love some help on the doc for this, but I know can be hard since the only thing you can do

[2015-03-08 04:21] huafu commented on #31
@shennyg thanks for updating the FAQ.

@ohizkiya I already "fixed" a bit that [FAQ item](https://github.com/huafu/ember-google-map/wiki/FAQ#4-what-are-those-content-security-policy-errors-in-my-console), can you see if there is a place for it somewhere else in the doc (while keeping it in the FAQ also)?

[2015-03-10 19:37] ohizkiya commented on #35
@huafu - I think once we have some testing done and the `street-view` branched is merged into `main` then we can go ahead and update the docs. I believe the docs should always reflect the latest code in `main`.

[2015-03-10 19:41] ohizkiya commented on #31
I added a `Configuring your Content Security Policy` section to the configuration page of the wiki -- seemed like the most appropriate place. I think we can close this out.

[2015-03-10 19:41] #31 closed

[2015-03-10 22:56] huafu commented on #31
ok cool, thanks a lot. I've added it in the TOC (home page) and replaced the FAQ answer with the link to that page so that we don't have duplicate information that later we'd need to update twice if it needs some fix.

[2015-03-12 23:18] Tuhaj opened #36 "drawing roads"
It would be a great feature if we could draw a road between two points.
It could be the shortest road first, but a lot of further custom settings could be added.

[2015-03-12 23:23] huafu commented on #36
Will see if that is possible with google map first. But now for a month or 2 I am very busy so not for tomorrow ;-)

[2015-03-13 06:19] maneeshnanu opened #37 "Events on marker not working"
I am working on a website developed in Ember-CLI and having Embe Google Map add-on. Ember Google Map add-on is implemented successfully in the app. On clicking the marker the info window shows up with the text, but I would like to perform some other operations as well on click on the marker.
I tried the process explained here:
"https://github.com/huafu/ember-google-map/wiki/Provided-Tools-and-Clas

[2015-03-15 02:49] smcclstocks opened #38 "[FEATURE] Provide a way to enable `autoFitBounds` all the time and not only on load"
For the life of me I can't get the map to adjust it's zoom automatically when adding new markers, removing markers, or altering existing lat/lng of a marker in the markers array. All of the changes to the markers array that I just mentioned are updated on the map (meaning new ones appear, deleted ones disappear, etc) but the zoom never adjusts.

I did something really horrible probably in your goo

[2015-03-16 00:18] huafu commented on #38
It's in purpose that it does not adjust. It is supposed to adjust only after the first load. I think it is a bad user experience if you move the map, click somewhere to add a marker, and then without noticing you the map moves again and scales, loosing your previous move.

So this might be added as another feature, like `alwaysAutoFitBounds`, being `false` by default.

[2015-03-16 00:22] smcclstocks commented on #38
Not a feature that should be the default based on what you said but in my app for instance it's a nice to have so I like the opt-in approach you mentioned. Would you do it with an observer like I did or something else?

[2015-03-16 00:24] huafu commented on #38
No, there is already an observer for that feature, I'll just let it run all the time and not remove the objserver in the case that flag is set.

[2015-03-16 22:08] jaimevent opened #39 "Map not visible on Android app in combination with ember-cli-cordova"
Hi,

I'm troubling with following problem: I'm compiling the app with the ember-cli-cordova package, everything is working fine on my browser, but when I open the same route in my Android-app I just get a blank screen instead of the Google Map with markers, circles and polylines.

Looking at the logs of the app I get the following message:
[code]

I'm not using lazyLoad.

This is my ember-cli conf

[2015-03-19 06:10] huafu commented on #37
Is there a repository on github that I can clone and try to find out what is the issue? Hard to say with just this information ;-)

_sorry to answer that late, have been very busy lately_

[2015-03-19 06:24] huafu commented on #39
I believe either Cordova does not let you load an external library **or** Google Map does not let you load it from within a page with a `file://` protocol (cordova apps are using the `file://` as the files are stored locally).

[2015-03-19 06:24] #39 closed

[2015-03-19 06:24] huafu commented on #39
Please reopen if it is another issue.

[2015-03-25 12:20] simo163 opened #42 "use-case: custom lat and lng property names not working"
Hi all, my model have attributes longitude and latitude (not lat and lng) and I am trying to customize it as explaining in the wiki. But I got this error:

[code]
fired in helpers.js line 210
[code]

I put some pieces of my code:
[code]

Do I am doing something wrong?

[2015-03-25 20:57] huafu commented on #42
What does your `model` receive as data (the one you give to `markers` in the template)?

[2015-03-25 21:00] huafu commented on #42
If I understand well it has `latitude` and `lomgitude`. Markers should be an **array** of objects with latitude and longitude, even if there is only one item in the array.

[2015-03-25 23:16] simo163 commented on #42
@huafu  thanks for the answer, for now my model returns just an array of hashs which contain latitude and longitude as described in the wiki example but it is not working actually.
[code]
Probably coords in the computed property is the reason?
However actually what I want to have later is a call to the web service which will return something like:
´´´
{"shops": [{title: "", latitude: "", longitude

[2015-03-26 07:48] huafu commented on #42
For the static model, remove `coords`, that is for the example in the doc.

For the data coming from your server, you'll need to plug markers on `shops` and in the extended controller make it alias on `latitude` and `longitude`

[2015-03-26 07:48] #42 closed

[2015-03-26 20:13] simo163 commented on #42
It seems like what I have done, I really don't know.

[2015-03-27 16:16] huafu commented on #42
Please provide either a repo that I can clone to find out what's wrong. What I meant by

is in your template:
[code]

and the marker controller:
[code]

That is if your route's `model` hook returns a model like:
[code]

[2015-03-27 16:18] huafu commented on #38
@smcclstocks this is done, not yet documented (@ohizkiya got time for that?). Just get the latest (`0.0.20`) and set `alwaysAutoFitBounds` to `true` when using the component in the template. All the rest remains unchanged.

[2015-03-27 16:18] #38 closed

[2015-03-27 16:19] huafu commented on #37
I'm going to close this. If you have a repo which I can clone or a zip I can download to test and debug that, please reopen providing the link.

[2015-03-27 16:19] #37 closed

[2015-03-27 19:35] simo163 commented on #42
@huafu Any case seems to work for me,  Thanks for checking the [repo](https://github.com/simo163/ember-cli-google-maps) I am using here just a simple model.

[2015-03-30 19:43] huafu commented on #42
Looking at it now, was very busy before sorry!

[2015-03-30 21:08] huafu commented on #42
A quick look at it shows me that you forgot to tells the component that you are using a custom marker controller like [there](https://github.com/huafu/ember-google-map/wiki/Provided-Tools-and-Classes-%28API%29#example-use-case-custom-lat-and-lng-property-names): `{{google-map ... markerController='map/marker'}`, also you have to do the same for the `polyline-path` controller so that the array repr

[2015-03-30 21:28] huafu commented on #42
made a PR with some explanation simo163/ember-cli-google-maps#1

[2015-03-31 19:52] simo163 commented on #42
Many things @huafu for taking some time and looking at it, you're right I was using both markers and polylines such as before I customize the coordinates names. I'll pull your changes and let you know! Thanks again

[2015-04-01 18:23] shennyg opened #43 "[EMBERJS] Object proxying is depreciated"
After upgrading ember-cli to 0.2.2 I'm seeing many depreciation notices in my console:

I'm currently running 0.0.19 of ember-google-map, the only difference I see between 0.0.20 is "[Always auto-fit bounds feature](https://github.com/huafu/ember-google-map/commit/21651adf8f38573948dc11fb9d907af39efab5dd)" So I don't think upgrading will fix it.

    DEPRECATION: You attempted to set `lat` from `<

[2015-04-01 23:55] huafu commented on #43
Thanks for reporting. I saw that they're removing `ObjectController` and I don't know if that would be the case for `ObjectProxy` too.What would be helpful here is if you can find the answer (with references) to these questions (I could look for it but having you doing it would save me some precious time):

- Will `ObjectProxy` be removed too?
- What/how to replace classes extending `ObjectControl

[2015-04-08 06:10] vasilakisfil opened #44 "Reverse geocoding - listen to events on the actual Map (google.maps.Map)"
I am trying to achieve reverse geocoding with this amazing ember addon. All I want is when the user clicks on the map to propagate the coordinates using an action.

However I am not sure how I can achieve that. I tried:

[code]

And inside the view I have tried all events but nothing worked ^_^:

[code]

I defined a `didClick` action on ApplicationRoute but it got nothing.

How would you do that ?

[2015-04-08 19:02] simo163 commented on #42
@huafu awesome, it works like a charm, I'll keep looking at the plugin because we're planing to use some complex functionalities with ember and google maps.

[2015-04-08 22:18] srsgores commented on #30
I'm implementing this now, myself.  I'm not sure this library will be used, as it seems kind of overkill for a simple text input, but I'll keep you updated.  For example, I am more inclined to add the scripts manually via bower (download the JS locally), then write the logic in the component.

@ohizkiya, I would imagine a more simplified API:

[code]

[2015-04-08 23:29] huafu commented on #30
No, I meant, google map libraries includes a feature to auto-complete address given an html input field, so no need to re-implement the auto-completion feature since google provides it ;-)
Thanks for your time working on this!

[2015-04-08 23:41] shennyg commented on #43
I doesn't look like it is happening in v2.0 https://github.com/emberjs/rfcs/pull/45#issuecomment-89650106

I also didn't see any mentions in the [RFCS](https://github.com/emberjs/rfcs/search?utf8=%E2%9C%93&q=objectproxy)

The [depreciation guide](http://emberjs.com/guides/deprecations/#toc_objectcontroller) recommends to use `Controller `, would that have the methods you need?

I was unable to get

[2015-04-09 13:21] btecu commented on #43
**Deprecate**... Depreciate is a decrease in value.

[2015-04-09 22:47] huafu commented on #43
Yeah, I did not even saw that mistake. But it's ok we all understood ;-) I guess @shennyg is like me and English is not his first language.

[2015-04-10 19:58] zulaica opened #45 "[Question] Unable to access Google map object"
I'm attempting to be able to redraw the center of the map based on geolocation. Adding `map=view.googleMap` to the component does not provide `googleMap` (console is telling me it's undefined). Everything else appears to be loading properly, I'm just looking to be able to access `googleMap.setCenter(latlng)`.

Is there something I'm missing? Or, I suppose more importantly, is this currently possib

[2015-04-11 03:32] huafu commented on #45
Center is bound to `lat` and `lng` properties of the component, so if in your template you have `{{google-map lat=lat lng=lng}}` and in your controller you do `this.setProperties({lat: <new-lat>, lng: <new-lng>})` it'll automatically change the center of the map. That is the first purpose of this component, 2 way bindings between Google Map (and anything drawn on it) and Ember objects, so no need

[2015-04-11 03:32] #45 closed

[2015-04-15 03:17] kmmathis commented on #28
Is it currently possible to setup the drawing controls with this project or is that what this issue is asking for?

[2015-04-15 07:55] huafu commented on #28
It is possible to setup it using the core google map object (see the wiki docs to access this object), but it's then up to you to handle the events and bindings with Ember objects...

I am extremely busy lately and badly have NO time to work on any of my OSS project, but it's not been forgotten ;-)

[2015-04-15 08:01] huafu commented on #44
[code]
I don't think there is such a view ;-)

Anyway @vasilakisfil I think this is not documented in the doc. I believe the easiest for now would be to set the `googleEvents` property of the component with one defined in your controller:

[code]

[code]

[2015-04-17 02:25] blisst opened #46 "autoFitBounds not resizing and scrolling to marker position when setting markers dynamically"
Hello,
I am setting a marker on the map dynamically via a location search bar.

The search bar gets latitude and longitude info and then sets a controller property:
[code]

I'm using the component as so:

[code]

I have checked that the `google-map` component is updating the markers correctly using the console using the view number of the component, (the ember-google-map is ember518 in my case):
[

[2015-04-17 04:48] huafu commented on #46
Yes, you are missing the `alwaysAutoFitBounds=true`, by default it fit bounds on load only ;-)

[2015-04-17 04:48] #46 closed

[2015-04-27 01:31] srsgores opened #47 "Fix Performance Issues with Components"
This may end up being solved by glimmer, but notice the wait and performance issues on [our recent hackathon app](http://calgarynow.parseapp.com).

The page takes upwards of 15 seconds to render, just because Ember has to create hundreds of components.

Perhaps a fix would be to not allow an option to not use components for each marker, and instead, use a simple ``Ember.Object``.

Thoughts?

[2015-05-02 06:29] pertinax opened #49 "Memory leak"
I'm not sure is this a known issue for you guys, but obviously removing only the listeners is not good enough for gc. Any ideas ?

[2015-05-02 06:54] huafu commented on #49
well there is no `destroy` for google map, the only way they recommend to `destroy` a map is to set `map` to null to all objects on it, and that is done after all listeners are removed.

How are you seeing this memory leak and when? Do you have an example repo where it could be tested and checked as well as used to try to fix that issue?

[2015-05-02 10:02] pertinax commented on #49
I'm using chrome heap snapshots. Unfortunately, for the moment I don't have time to put it on a public repository, since the one that I'm working on is a private one. The workaround for me was to put it as modal in application and only show/hide it

[2015-05-05 02:49] #44 closed

[2015-05-05 02:52] huafu commented on #44
@vasilakisfil I dunno if you still worry about this, but you can now listen to events on the component directly with `ev_click='actionName'` and that action of your controller will be called with second argument being the event, having `latLng` property being the `google.map.LatLng` object where the click happened.

https://github.com/huafu/ember-google-map/wiki/Provided-Tools-and-Classes-(API)#se

[2015-05-18 17:57] oskarrough opened #51 "How to send arguments with events"
Hi, I followed your example https://github.com/huafu/ember-google-map/wiki/Provided-Tools-and-Classes-%28API%29#example-use-case-responding-to-events and now I can trigger an action when you click a marker.

How can I pass, say, the marker title with the event?

Usecase: I have a list of locations on the left and a map on the right. When you tap a marker, I need to scroll to the corresponding list

[2015-05-18 22:59] huafu commented on #51
See just above the example, [there](https://github.com/huafu/ember-google-map/wiki/Provided-Tools-and-Classes-%28API%29#events): you can define the target, and the action you'll define will receive that target. Anyway by default the target is the view where you defined the `googleEvents` property, so to access the marker's model, you can use Ember's `controller` property of the view:
[code]
Also s

[2015-05-18 22:59] #51 closed

[2015-05-18 23:21] huafu commented on #47
First of all, sorry to answer that late.

I have planned to do a partial re-write once I'll have some free time, also to make this addon fully compatible with ember-2.0. Your idea is a good one, but more like providing an option to not use views and components out of the google-map one.

There was a reason why there is a view and component for each, but I'll try to find a workaround. Anyway, I am

[2015-05-18 23:22] huafu commented on #36
@Tuhaj can you check in Google Maps API if that is even possible, and if so link to it here please?

[2015-05-18 23:42] maddijoyce commented on #30
Hey all,
I've been using this little component in an ember project:
[code]

It is written in [emberscript](http://emberscript.com/) but it would be easy to change back to js if needed. I put in some backwards compatibility if the google maps library is not loaded for whatever reason. I also use it in conjunction with this transformer for storing locations in ember data.

[code]

Once again, I like

[2015-05-19 03:28] srsgores commented on #30
@maddijoyce, I ended up taking a different approach, using an initializer to inject the Google api library, and in JavaScript.  I was going to open-source my implementation, but haven't yet gotten around to it.  Thanks for sharing, though.

[2015-05-19 12:37] oskarrough commented on #51
Thanks so much!

[2015-05-20 08:16] Tuhaj commented on #36
yes, I think here it is:
https://developers.google.com/maps/documentation/javascript/directions

[2015-05-25 14:30] tommyblue commented on #43
Hi @huafu, any news on this?
I get thousands deprecation warning using polylines. I'm now using ember-cli 0.2.5
This is not a big problem now, but the ember roadmap after some warnings, fully deprecate some old features, so in the future everything will probably stop working :/

[2015-05-29 15:27] thagul opened #55 "Show one infowindow at a time"
If I add `description` to each markers, and then click on every markers, all infowindows stay open.
I would like to show one infowindow at a time, as suggested in the Google Documentation regarding infowindow (https://developers.google.com/maps/documentation/javascript/infowindows#add)

I can't find a way to do that. Any suggestion?
Thanks

[2015-05-31 06:49] huafu commented on #43
I know, but I am being so busy right now that I cannot do the refactor. It is definitely planned, and don't worry, the project will **NOT** be abandoned, I need this addon too hehe. But yeah, I can't do that now, sorry!

[2015-06-02 10:03] ignacykasperowicz opened #56 "Deprecation warning with latest Ember 1.12.1"
1. With latest Ember 1.12.1 I get deprecation warning related to changes with computed properties:
http://emberjs.com/deprecations/v1.x/#toc_computed-properties-with-a-shared-getter-and-setter
in `fitBoundsArray` computed property:
https://github.com/huafu/ember-google-map/blob/master/app/components/google-map.js#L161

2. With the same 1.12.1 I get:
`Ember.required is deprecated as its behavior is

[2015-06-03 21:39] kevintraver opened #57 "How to update polygon properties"
For example, on a click event, change the fillColor to blue.

I tried this, but it does not work.

[code]

[2015-06-04 22:18] LexLythius opened #58 "Cannot extend from views/google-map/marker"
Fairly Ember rookie trying to implement custom markers.

According to the [wiki page](https://github.com/huafu/ember-google-map/wiki/Provided-Tools-and-Classes-%28API%29#markers):

So in my app I did
[code]
And get an error:
[code]
whereas importing from `'ember-google-map/core/helpers'` does work.

I tried all sort of relative paths to get to it to no avail, so I compared things with other addons

[2015-06-04 22:28] huafu commented on #58
Yeah I need to move the views and more classes  at the right location. Look in the wiki page with example, there is one example there.

In brief, import the view as if it was in your app.

--
Huafu Gandon
http://huafu.github.io

[2015-06-05 01:29] LexLythius commented on #58
Just submitted a PR about this

[2015-06-05 01:30] LexLythius commented on #58
BTW I had tried importing the views from my app as if they were available locally before, but that didn't work either.

[2015-06-06 06:05] brandonparsons opened #62 "Blank map?"
I'm not quite sure what I'm doing wrong - help would be appreciated.

I've tried including the base component in my application:

[code]

And all I get is a blank/empty div I've tried setting other `lat` and `lng` values but to no avail.

Everything is installed properly - I get the following when booting the ember app:

`DEBUG: [google-maps] creating new map: {zoom: 5, mapTypeId: roadmap, center:

[2015-06-06 06:24] huafu commented on #62
You need to define a with and height to the canvas div, look at the docs in the wiki of this repo (can't link to the right page now, on my phone)

[2015-06-06 06:24] #62 closed

[2015-06-06 13:41] brandonparsons commented on #62
:+1: Thanks.

Sorry - I thought I had done this (I did read through the wiki). But it turns out I got myself confused between a few files...... :)

[2015-06-06 16:09] brandonparsons commented on #55
@thagul  Did you figure out a way to make this happen?

[2015-06-07 02:34] brandonparsons opened #63 "Issue in Safari?"
Hi again,

My map is working perfectly in Google & Firefox.  In Safari, I'm getting the following error:

`[Error] TypeError: undefined is not an object (evaluating 'val.lat')`

Following the stack trace:

[code]

Any ideas?

[2015-06-08 15:46] thagul commented on #55
No, I didn't find a way to do that and unfortunately I've no much time to dig any further. I'm very busy on more urgent issues on my project and this is not one of them

[2015-06-08 23:04] brandonparsons commented on #63
I now know why the value was not defined, but still have no idea why it was only affecting Safari.

[2015-06-08 23:04] #63 closed

[2015-06-10 19:08] cbeckfield opened #64 "gopt not working"
Hey, having an issue with Google options. Made a map a while back that worked 100% correctly, but I just noticed that it is now not taking gopt options when it used to. The map still works fine but none of the options are applying (no scroll wheel, no UI, etc.etc.). I've tried going back to previous versions of the addon but that didn't seem to help. I am using the Ember 1.13 beta, could that be c

[2015-06-12 16:53] billybonks opened #65 "Dynamically adding marker from controller action"
HI I am trying to add markers to the map when ever the user clicks

( i have tried adding a pojo and a Google map maker view) every time i add, i can see that the components makers.length is increasing but i cant see the markers on the map

controller
[code]

template
[code]

[2015-06-12 16:56] billybonks commented on #65
fixed the issue, replaced push with pushObject

[2015-06-12 16:56] #65 closed

[2015-06-14 08:28] billybonks opened #66 "Addint objects not supported by plugin"
I needed to use the drawing manager, so i created one using your framework

[code]

but to initialise and connect the object, i needed to add this to my controller, which isn't ideal

[code]

do you have a recommendation to adding unsupported objects to the map ? i will be doing something similar for custom overlays

[2015-06-16 15:13] brandonparsons opened #67 "Is this library compatible with "Glimmer" (Ember 1.13)?"
Hi there,

I'm having some issues upgrading to 1.13, and wondering whether or not this component supports Glimmer. Hoping to narrow down my problems!

Thx :+1:

[2015-06-18 17:21] thagul opened #68 "Sending event using ev_[eventName] not working"
I've defined the event `ev_bounds_changed="search"` and using ember 1.13.1 it doesn't fire action `search` in my controller.

I've defined `google-map` in this way:

    {{google-map lat=centerLat lng=centerLng zoom=14 ev_bounds_changed="search"}}

[2015-06-20 17:45] caspg commented on #67
I think there is some issue with ember 1.13. After upgrading to ember 1.13.2 map displays fine, but markers don't show up (despite this msg in console`DEBUG: [google-maps] creating new marker: {title: Home, position: (14.766127, 102.81098700000007)}` ).

[2015-06-20 23:46] asennikov commented on #67
Yeah, same in my app. There were discussion started for 2.0 support, but it's closed now - https://github.com/huafu/ember-google-map/issues/14

[2015-06-27 16:37] DanLeininger commented on #66
Any luck with this @billybonks?  I too am trying to add custom overlays.

[2015-06-29 03:33] billybonks commented on #66
you basically need, to access the map object from the component, to pass to your custom overlay here is an example

[code]

[2015-07-01 02:51] lukemcfarlane commented on #67
+1 for adding 1.13 support now that it has been released.

[2015-07-02 06:46] huafu commented on #67
I am not promising any date, but I will try to find some time very soon to update quickly my addon so that it can support 1.13, waiting for a better refactor when I'll have more free time.

[2015-07-02 06:48] huafu commented on #56
Let's keep track of this in #67 ;-)

[2015-07-02 06:48] #56 closed

[2015-07-02 06:51] huafu commented on #57
This is yet not supported without re-initializing the polygone. I'll work on supporting this in a future version.

BTW, if the event is triggered by Google Maps itself thru this addon, the event handler should receive another parameter which is the model to be accessed directly

[2015-07-02 12:55] huafu commented on #67
Fixing this will actually also target #43

[2015-07-02 12:58] huafu commented on #55
Ok, that's something I'll be adding in `0.1`. Basically (if someone wants to do a PR) it'd need a property on the `google-map` component to point to the currently shown info-window, and in the info-window view, use that value to close the old one before updating that property with the new opening one. I know it might be a bit more complex, just no time to work on this now :-/

[2015-07-02 13:16] huafu commented on #67
If anyone can help figuring out the last issues in #69 this could be closed very soon ;-)

[2015-07-02 14:41] brandonparsons commented on #67
@huafu You probably have others waiting on this, but don't fix on my account. It turns out I only needed an extremely simple `google-map` component so I just rolled one myself.  I'll leave this issue open though, feel free to close if you like.

[2015-07-02 15:59] huafu commented on #67
Haha yeah well I believe many others are waiting on this anyway.

[2015-07-02 16:09] kevintraver commented on #57
Awesome! Thanks for the update.

[2015-07-03 13:50] huafu commented on #64
Yup, `1.13` support is almost there in a branch, not all issues fixed but so far getting close to a release supporting it ;-)

[2015-07-03 13:50] huafu commented on #64
Closing in favor of #67

[2015-07-03 13:50] #64 closed

[2015-07-04 02:16] blisst commented on #68
Any resolution to this?

[2015-07-04 04:07] huafu commented on #68
The support for 1.13 is not yet fully ready. Will be soon but still some little bugs to fix. See #67 ;-)

[2015-07-04 04:07] #68 closed

[2015-07-08 18:00] Matt-Jensen commented on #58
+1 Ran into this issue myself.  I think there's also a lot of value to being able to extend the `google-map` component as well.  Real life use case was making a `google-heatmap` component, sadly ended up solving with copy/paste.

[2015-07-13 01:30] #43 closed

[2015-07-15 03:43] sereysethy opened #75 "Example: Basic map with a given zoom and position / ArrayController is deprecated"
Hello,

I am new to ember cli and I want to include google map in to my app.

I created an app following your wiki documentation (Basic map with a given zoom and position) just to test it, ember reports that ArrayController is deprecated. I want to know whether it is because the sample code you provided, used ArrayController but the core component itself does not use ArrayController.

Thanks,
Seth

[2015-07-24 17:29] ConorNugent commented on #67
I just needed a really simple subset of google maps component so I ended up rolling my own component. I am running into issues with ember 1.13.5 and markers not displaying though. I noticed that a bunch of people on this thread have experienced the same issue. Does anyone know what's behind it and whether there is a fix? Is it glimmer related?

Sorry, if this isn't the most ideal place to post abo

[2015-07-24 17:49] huafu commented on #67
I fixed them already in https://github.com/huafu/ember-google-map/issues/69 but aparently there are some more issues I need to fix there related to the `beforeObservers` that have been removed in `1.13`

[2015-07-24 17:53] ConorNugent commented on #67
Ah okay, do you know what is causing the issue with markers not appearing in 1.13? I'm just trying to fix the same issue in my own very basic mapping component

[2015-07-25 00:23] huafu commented on #67
Well if you did your own component, then I believe it can't be done the same way as mine, so I don't see how I could help on this ;-)

[2015-07-25 00:54] kkincade commented on #67
Are Google options working with 1.13.5? I'm struggling with such options as gopt_zoomControl=false.

[2015-07-27 16:29] ConorNugent commented on #67
@huafu you are dead right and I got things sorted. My issue was all down to something silly. Initially I thought it might have been a 1.13 issue hence the message here. Anyway, I'm really sorry for having added noise to your issues

[2015-07-28 07:01] scottfister opened #76 "Cannot read property 'lat' of undefined"
Hi! I found an issue similar to mine that was [closed](https://github.com/huafu/ember-google-map/issues/42), reporting the same error: `Uncaught TypeError: Cannot read property 'lat' of undefined` on `helpers.js:197`: `return helpers.makeObj(latKey || 'lat', val.lat(), lngKey || 'lng', val.lng());`. But I confirmed I was doing all the appropriate things and it still doesn't seem to work.

I'm runn

[2015-07-31 00:34] anulman opened #78 "`GoogleObjectProperty.prototype.readGoogle` fails for `this._cfg.name === 'optimized'`"
Specifically, it seems to be due to `googleObject` not having a function `getIsOptimized`. Confirmed in reference [here](https://developers.google.com/maps/documentation/javascript/3.exp/reference#Marker).

I've tried setting `marker.isOptimized = true` when declaring markers, but the problem persisted. I've worked around this for now (on deadline!) by commenting out the relevant line and will be

[2015-08-04 17:48] mjc commented on #78
This affects my branch as well.

[2015-08-04 18:00] mjc opened #79 "Something you did caused a view to re-render after it rendered but before it was inserted into the DOM."
To reproduce:

replace entire markers list with a new list

[2015-08-05 21:32] MichalBryxi opened #80 "is not a function on markers change"
I have markers in my google-map:

[code]

and I'm recalculating them once in a while. Namely changin icon URL under some conditions:

[code]

And in some cases I get following uncaught error:
[code]

Which leads to [this line of code](https://github.com/huafu/ember-google-map/blob/7c1e8283e7307ab4cfdb465d134c8ef637b85e20/addon/core/google-object-property.js#L97).

Anybody has clue what is wrong he

[2015-08-05 21:55] MichalBryxi commented on #80
Just tested that it's problem with Ember `1.13.x`.

[2015-08-06 00:37] huafu commented on #80
@MichalBryxi you should make each marker an ember object and change it in that case instead of changing the whole array of markers each time. Anyway, that sounds like a minor bug that will be addressed by the rework for v1

[2015-08-06 00:37] #80 closed

[2015-08-06 00:43] #78 closed

[2015-08-06 00:43] huafu commented on #78
fixed in `0.0.23`

[2015-08-06 10:06] clawfire opened #81 "Can't set a description/body for a marker to be passed to the info-window"
Maybe the [documentation](https://github.com/huafu/ember-google-map/wiki/Examples) isn't up to date but as states in it I try to use this object as marker :

[code]

but the body isn't passed to the `info-window` created. I tried to rename the `body` property in `description` as I saw code using this instead in the issues but without any success.

any idea ?

[2015-08-07 06:18] jackmatt2 opened #83 "destroying backing model throws and error"
I have a situation where I show a map for an address.  The user has the option to delete the record but when they do I get the following error.

[code]

It seems to me that the addon is observing something that was once there but is now deleted.  Is there some way I can trigger the map to destroy itself?

The result of this error is that my application no longer works :(

[2015-08-07 07:05] jackmatt2 commented on #83
I managed to fix it using the following

[code]

[2015-08-09 15:53] brianschmitt commented on #81
I was having the same issue, turns out when this was updated to use Controller in place of ObjectController, you also have to modify the fields in the template:
http://emberjs.com/deprecations/v1.x/#toc_objectcontroller

So the proper way to reference the fields in the template is now:
{{model.body}}

[2015-08-16 07:03] carsol commented on #76
I'm also having this issue, and can confirm that the other [issue](https://github.com/huafu/ember-google-map/issues/42) isn't affecting this.

[2015-08-20 14:51] jigneshchudasama05 opened #86 "How to display custom data in marker"
How to display custom data in marker for e.g. test1: something, test2: something like title: 'title'

[2015-08-20 19:31] xomaczar opened #87 "Ember 1.13.7 custom markerInfoWindowTemplateName"
When I set a custom markerInfoWindowTemplateName on google-map component then all my markers are shown with default google-map markerInfoWindow.
Closing markerInfoWindow for a given marker also removes the whole marker from the map.

[2015-08-22 02:51] rakabali78 opened #88 "Fix suggestion for index.js (making sure map api JS loaded from http://)"
Hi,

In index.js, please change this line:

src = "//maps.googleapis.com/maps/api/js";

to...

src = "http://maps.googleapis.com/maps/api/js";

This ensures that this plugin will work on ember-app packaged as Cordova application.
Otherwise you'll be getting this error: GET file://maps.googleapis.com/maps/api/js net::ERR_FILE_NOT_FOUND (you see, it's using the file:// scheme in absence of http://)

[2015-08-26 13:58] erkie opened #89 "Broken with Ember 2.0"
Running with Ember 2.0 throws this error when trying to build:

    Assertion Failed: Using `{{view}}` or any path based on it ('templates/components/google-map.hbs' @ L5:C6) has been removed in Ember 2.0)

With the following bower config:

[code]

[2015-09-01 14:30] serho commented on #89
@erkie Hi, try this fork https://github.com/serho/ember-google-map.

[2015-09-03 18:37] oswaldoacauan commented on #12
Is this working on Ember 1.13?

Im using Ember 1.13 and the version 0.0.23 and `gopt_disableDefaultUI=true` not seems to work.

[2015-09-03 20:14] oswaldoacauan commented on #67
`gopt_disableDefaultUI=true` is not working with Ember 1.13.3.

cc @kkincade @huafu

[2015-09-04 10:03] huafu commented on #88
You can change that URL in the settings (`environment.js`). The `//` here
is to use the same protocol as the webpage, so `http` if not secure and
`https` for secure ones. Since cordova is a special case, you should change
it in the settings as explained in the wiki.

On Sat, Aug 22, 2015 at 9:51 AM, rakabali78 <notifications@github.com>
wrote:

[2015-09-04 18:44] oswaldoacauan commented on #55
:+1:

[2015-09-10 00:43] tyleriguchi commented on #79
Updating from Ember 1.13.2 to 1.13.3 fixed this issue for me.

[2015-10-02 22:16] demersus commented on #76
Yep, I am getting this error too.

[2015-10-06 04:57] yinquanteo opened #90 "autoFitBounds broken on 0.0.22 and 0.0.23"
For v0.0.22 and v0.0.23, setting `autoFitBounds=true` on the google-map object doesn't automatically center and zoom the map so that all of the objects are visible. This works for v0.0.21.

I believe this is fixed by 981d345b3b1acf7f01a335e48509c92cd9e75368

Could we release 0.0.24 with this fix?

[2015-10-13 12:25] TNAJanssen commented on #89
+1 please fix in main repo

[2015-10-13 12:29] TNAJanssen commented on #89
@serho  it doesn't work

[2015-10-15 21:51] gnazarkin commented on #88
Came across this as well and have been trying to overwrite in on config. What property is it supposed to pick up on/if any? Looked at the index.html file and it seems it doesn't grab it from config.

Thanks

[2015-10-20 11:35] metz0r opened #91 "Ember.EnumerableUtils is gone in 2.0"
Causing ember-google-map to not work

[2015-11-04 21:36] #90 closed

[2015-11-04 21:36] huafu commented on #90
Fixed in 0.0.24 which is on its way

[2015-11-04 21:37] huafu commented on #88
Added in 0.0.24 which is on its way. I added a `protocol` option to be set in the `googleMap` config section of your environment, like the other options. If not set, it'll act as before, else you can specify `http` or `https` and it'll add it with `:` in front of the URL

[2015-11-04 21:37] #88 closed

[2015-11-04 21:38] huafu commented on #81
A fix has been merged and will be deployed in 0.0.24 in a few minutes, the `description` wasn't aliased

[2015-11-04 21:38] #81 closed

[2015-11-04 21:39] huafu commented on #67
Can you confirm the options issue with latest 0.0.24?

[2015-11-04 21:41] huafu commented on #86
You need to make your own marker template and then you can use any property of the marker objects. I think there is an example in the wiki

[2015-11-04 21:41] #86 closed

[2015-11-04 22:05] kkincade commented on #67
@huafu After updating to 0.0.24, I'm still having this issue.

[2015-11-04 22:21] huafu commented on #58
@LexLythius I've rebased, fixed and improved your PR, it's now in 0.0.25

[2015-11-04 22:21] #58 closed

[2015-11-07 11:05] cgencer opened #94 "dynamically re-rendering the map component"
Is it possible to re-render the component trough an action or event triggered by the controller?

[2015-11-08 06:07] huafu commented on #94
The goal of the component is to use ember bindings so that anytime you change any property of the component or any of its markers, circles, etc... it'll update the map or marker, etc... So I am not sure why you want to re-render

[2015-11-10 10:48] cgencer commented on #94
ok it was my bad, i've used a previous version of ember, which ember-cli directly installed.
then i tried now to first create a clean working copy of your example page, first with sane/sails then with only ember-cli. i tried 1.9.1 as ember version (where your example also runs on the same version), which gave some template engine trouble:
File: modules/ember-cli-app-version/templates/app-version.h

[2015-11-10 21:52] cgencer commented on #94
the 2.1 error is:
Assertion Failed: Using `{{view}}` or any path based on it ('secretcodez/templates/components/google-map.hbs' @ L5:C6) has been removed in Ember 2.0

[2015-11-18 05:25] robj commented on #91
+1

[2015-11-27 18:35] GendelfLugansk opened #96 "Handling click event on map"
Hi!
I'm trying to handle click on map (to set marker in clicked position). But {{google-map ev_click='actionName'}} doesn't work for me. Action is not triggering.

Ember version:
DEBUG: -------------------------------
ember.debug.js:5442DEBUG: Ember                       : 1.13.9
ember.debug.js:5442DEBUG: Ember Data                  : 1.13.11
ember.debug.js:5442DEBUG: jQuery                      :

[2015-11-28 11:19] sheoranpranava91 commented on #89
Is there any plan of fixing this? Its stopping everyone from using this component with ember 2.0?

[2015-11-28 11:25] erkie commented on #89
As an alternative you can use this package:

https://github.com/SamvelRaja/google-maps-addon

[2015-12-10 22:43] mattmcginnis commented on #35
Any plans to merge this?

[2015-12-11 09:39] asennikov commented on #89
I've implemented addon with slightly different approach, so you can try that too - https://github.com/asennikov/ember-g-map

[2015-12-11 13:26] erkie commented on #89
@asennikov really nice one! Awesome implementation

[2015-12-11 18:43] mattmcginnis commented on #35
I've been testing this (merged with current master) and the only issue I have is that the camera is not pointed in the correct heading.  I'm working on a way to get the correct heading.

[2015-12-11 22:43] huafu commented on #89
@asennikov, that is the one approach I am slowly doing for my 1.0 version. It wasn't possible to do so before 1.13 (i.e. 2.0 features of ember). Badly I got no time to finish it quickly.
It's a shame that forks have taken priority over PRs but at least it frees me from having this in mind :-)

[2015-12-13 12:40] asennikov commented on #89
@huafu my first intention was to introduce PR for 1.13/2.0 migration of your project, but then things got ugly at my job and we needed solution that really works with 2.0 ember. I had no time to really understand how things are implemented here, plus it would have been almost complete rewrite, so I've quickly implemented my own (limited) version over weekend, extending it later with some minor fea

[2016-01-04 14:10] mival commented on #96
Same here, using example code from web but nothing happens

[2016-01-18 10:10] mansona commented on #89
Hey all!

I just want to get a feel for what is going on here... @huafu I completely agree with your statement `It's a shame that forks have taken priority over PRs` but that is just my own personal opinion and the reason is because new people like myself don't really know what the **best** branch to use is from this point.

@huafu when you say "It frees me from having this in my mind" does that m

[2016-01-19 05:46] huafu commented on #89
@asennikov I did not want to say you're right or wrong. If I had time to work on this, that's the way I'd have gone.

@mansona I'd love to say that I will get the time to update this project, but while it may happen, I don't know when. so yeah, go with @asennikov would be safer for your projects

[2016-01-19 10:28] mansona commented on #89
Thanks @huafu, I really appreciate the honesty :+1:

[2016-02-01 22:39] mattmcginnis opened #97 "config option for disabling in test env"
Having a config option to disable loading google maps js in test mode would be great.

[2016-03-26 21:38] GiovanniL19 opened #98 "Issue zooming with property autoFitBounds=true"
Hi,

I have the google-map component on my page with the autoFitBounds=true, I am unable to change the zoom level. The code for the component is:

`{{google-map type=type autoFitBounds=true zoom=zoom markers=markers gopt_mapTypeControl=false gopt_backgroundColor='transparent'}}`

The marker is:

[code]

Any idea? Thanks in advance

[2016-11-10 21:09] GCorbel commented on #91
same here !

[2017-02-10 16:37] ekemper commented on #91
+1

[2017-02-13 09:14] lionelrudaz commented on #91
+1

[2017-02-13 09:15] lionelrudaz commented on #91
What's the workaround?

[2017-02-13 09:16] metz0r commented on #91
@lionelrudaz use ember-g-map

[2017-05-21 16:49] josiahbryan commented on #96
Did this ever get fixed, guys? I'm debating about using the map or doing the code myself ...

[2017-06-02 09:53] GiovanniL19 opened #100 "Cannot read property 'forEach' of undefined"
Hi,

I am having an issue when adding `{{google-map}}` to my template. The error says the following:

    at Module.callback (google-object.js:7)

Any ideas?

[2017-11-23 11:13] TimStopfer commented on #100
This seems to be an issue with Ember.EnumerableUtils.forEach.
This is deprecated in newer versions.

https://www.emberjs.com/deprecations/v1.x/

Will there be a fix for this?

[2017-11-27 23:06] huafu commented on #100
I'd love to have someone help me out on this package, but its code is for an old version of Ember and I think there is now a much better plugin for Ember Google map out there.

Anyway if someone is interested in becoming contributor of this one I'd really appreciate, no time to work on this anymore, especially since lately I'm not using EmberJS in my projects anymore...

[2017-11-28 02:00] eduardo-hyodo opened #101 "Config of apiKey"
I looked the documentation and other issues, however I still don't get how I am supposed to config the api key at enviroment.

I tried,
`ENV.googleMap = { key: '<the key here>' };`

also tried
 `   ENV.googleMap = {
      client: '<client key>'
    },`

When I start the server with
`GOOGLE_MAPS_API_KEY=<the key here> ember s -p 4201` works

I want the key to be in the file and not in the start ser

[2017-11-28 02:32] #101 closed, assigned to nobody

[2018-09-05 05:41] huafu opened #102 "Looking for collaborators"
As you could all see, I have no time to work on this anymore...

If some of you still use it and anyone is interested in becoming a collaborator, please lemme know!

/cc @dioptre @lukemcfarlane @maxbritto ...

[2018-09-05 11:54] maxbritto commented on #102
Hello @huafu , sorry I'm no longer working on an emberjs project. Hope you'll find someone to take care of this.

[2018-09-05 13:22] huafu commented on #102
Haha, same here, I moved over to some other framework. Tho I'd like to see what became Ember nowadays, I have NO TIME for it :-/

[2018-09-06 13:17] maxbritto commented on #102
Yes I miss ember! I wish it would have gained in popularity and I could have stayed on it. I have to come back to web development for a new projet and I don't really like those new frameworks. Which one did you choose ?

[2018-09-06 13:24] huafu commented on #102
I chose Vue and after playing a lot with it I really like Vue+TypeScript+JSX (well, TSX). But Vue SFC (single file components) in `.vue` files are nice as well.

If you're looking for a freaking amazing framework using view and having a full set of tools such as builder for web, mobile, ..., huge amount of nice components, ... https://quasar-framework.org/

I like Vue because it's very light, fast

[2018-09-07 09:26] maxbritto commented on #102
Thanks for the feedback! I was also going towards Vue, so this is reassuring to see you went down this path and ended up happy with it. Didn't know Quasar but it looks awesome! Thanks!

I think the word you're looking for regarding Ember is "opinionated" or "convention over configuration". Loved that too, once I got to understand it fully.

[2018-09-07 09:31] huafu commented on #102
Yeah, it was on the tip of my tongue. The exact one I was looking for is "convention over configuration", but "opinionated"  actually describes better what I meant ;-)